/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        /*color: white;*/
        /*background-color: orange;*/
        color: orange;
    }
}

@keyframes blink-critical {
    70% {
        color: white;
    }

    to {
        /*color: white;*/
        /*background-color: red;*/
        color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    /*background: #323232; */
    /*background: rgba(43, 48, 59, 0.5);*/
    color: white;
    font-family:'FuraCode Nerd Font', Roboto, 'Font Awesome 5', Cantarell, Noto Sans, sans-serif;
    font-size: 1.3em;
 /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
  border-bottom: 2px solid #458588;
/*border-bottom: 1px solid alpha(@unfocused_borders, 0.85);*/
background: linear-gradient(to top, shade(alpha(@borders, 0.80), 1.15), shade(alpha(@borders, 0.9), 1.25));
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-spotify,
#custom-vpn,
#custom-weather,
#custom-pacman,
#custom-bt_mouse,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}


#cpu {
    /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    /*border-top: 2px solid white;*/
    /* To compensate for the top border and still have vertical centering */
    /*padding-bottom: 2px;*/
	color: #fb4934;
	font-weight:bold;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: #b8bb26;
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
}

#workspaces button {
    border-bottom: 3px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #888888;
    padding-top: 6px;
}

#workspaces button.focused {
    font-weight: bold;
    color: #ffe27a;
	background-color: #458588;
}

#workspaces button.urgent {
	color: black;
	background-color: #cc241d;
}

#custom-vpn {
	font-weight: bold;
	color: #fe8019;
}

