@define-color highlight #458588;
@define-color fg #ebdbb2;
@define-color base1 rgba(40 ,40 ,40 ,0.95 );
@define-color base2 #3c3836;

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    /*color: white;*/
    /*background-color: orange;*/
    color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    /*color: white;*/
    /*background-color: red;*/
    color: red;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  /* background: #323232; */
  background: rgba(43, 48, 59, 0.5);
  color: white;
  font-family: 'JetBrains Mono';
  font-size: 1.3em;
  border-bottom: 1px solid #458588;
  transition-duration: 0.5s;
  /* border-bottom: 1px solid alpha(@unfocused_borders, 0.85); */
  /* background: linear-gradient(to top, shade(alpha(@borders, 0.80), 1.15), shade(alpha(@borders, 0.9), 1.25)); */
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-spotify,
#custom-vpn,
#custom-weather,
#custom-pacman,
#custom-bt_mouse,
#custom-waybar-mpris,
#tray {
  padding-left: 10px;
  padding-right: 10px;

  /* font-style: italic; */
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  color: #c0caf5;
  /* background-color: #90b1b1; */
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #26a65b;
  /* background-color: #26a65b; */
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#cpu {
  color: #fb958b;
}

#cpu.warning {
  color: orange;
}

#cpu.critical {
  color: red;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #ebcb8b;
}

#memory.warning {
  color: orange;
}

#memory.critical {
  color: red;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#mode {
  /*border-top: 2px solid white;*/
  /* To compensate for the top border and still have vertical centering */
  /*padding-bottom: 2px;*/
  color: #fb4934;
  font-weight: bold;
}

#network {
  /* color: #8ec07c; */
  color: #b48ead;
}

#network.disconnected {
  color: #f53c3c;
}

#pulseaudio {
  color: #7d9bba;
}

#pulseaudio.muted {
  /* No styles */
}

#custom-spotify {
  color: #b8bb26;
}

#temperature {
  /* No styles */
}

#temperature.critical {
  color: red;
}

#tray {
  /* No styles */
}

#window {
  font-weight: bold;
}

#workspaces button {
  border-bottom: 3px solid transparent;
  /* To compensate for the top border and still have vertical centering */
  /* padding-bottom: 2px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* color: #888888; */
  /* padding-top: 6px; */
  padding: 0 5px;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
  color: #bf616a;
}

#workspaces button.focused {
  font-weight: bold;
  /* color: #ffe27a; */
  color: #bf616a;
  /* background-color: #458588; */
}

#workspaces button.urgent {
  color: black;
  background-color: #cc241d;
}

#custom-vpn {
  font-weight: bold;
  color: #fe8019;
}
#custom-waybar-mpris {
  /* color:#A89984;*/
  color: #83a598;
  padding: 5px;
}
#idle_inhibitor {
  color: #928374;
}
#idle_inhibitor.activated {
  color: @highlight;
}

#backlight {
  /* color: #EBCB8B; */
  color: #8fbcbb;
}


#bluetooth {
  color: #707d9d;
}

#bluetooth.disconnected {
  color: #f53c3c;
}

#custom-weather {
  color: #458588;
}
