@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    /*color: white;*/
    /*background-color: orange;*/
    color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    /*color: white;*/
    /*background-color: red;*/
    color: red;
  }
}

* {
  font-size: 17px;
  border-radius: 5px;
}


/* The whole bar */

window#waybar {

  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, monospace;
  background-color: transparent;
  border-bottom: 0px;
  color: #ebdbb2;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.9);
  border: 1px solid rgba(100, 114, 125, 0.5);
  font-family: "JetBrainsMono Nerd Font";
}

tooltip label {
  color: white;
}

.modules-center {
  margin: 10px 0 0 0;
}

.modules-right {
  margin: 10px 10px 0 0;
}

.modules-left {
  margin: 10px 0 0 10px;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
  border: none;
}

/* Each module */

#idle_inhibitor,
#cava,
#scratchpad,
#memory,
#mode,
#window,
#clock,
#battery,
#backlight,
#wireplumber,
#custom-weather,
#custom-pacman,
#tray,
#mpris,
#load {
  padding: 0 10px;
  background-color: #282828;
  color: #ebdbb2;
}

#workspaces {
  /*border-radius: 4px;*/
  /* margin: 1px 0px; */
  /* padding: 0px 0px; */
  /*color: #3a3b3c;*/
  background-color: #282828;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ebdbb2;
  border-radius: 0;
}


#mode {
  background-color: #689d6a;
  color: #282828;
  /* box-shadow: inset 0 -3px #ffffff; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#cava {
  padding: 0 5px;
}

#workspaces button:first-child {
  border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
  border-radius: 0 5px 5px 0;
}

#workspaces button:hover {
  color: #d79921;
}

#workspaces button.focused {
  background-color: #665c54;
  /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
  background-color: #b16286;
}

#battery.charging,
#battery.plugged {
  background-color: #98971a;
  color: #282828;
}


@keyframes blink {
  to {
    background-color: #282828;
    color: #ebdbb2;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #cc241d;
  color: #ebdbb2;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}

#mpris.playing {
  background-color: #d79921;
  color: #282828;
}

label:focus {
  background-color: #000000;
}

#wireplumber.muted {
  background-color: #458588;
}


#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#scratchpad.empty {
  background: transparent;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}


#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* color: #ebcb8b; */
}

#memory.warning {
  color: orange;
}

#memory.critical {
  color: red;
  animation-name: blink-critical;
  animation-duration: 2s;
}


#tray menu {
  background-color: #282828;
  border-radius: 2px 2px;
  color: #d5c4a1;
}


#workspaces button.focused label {
  color: #1d2021;
  color: #fbf1c7;
  /* background-color: #689d6a; */
}

#workspaces button.urgent {
  background-color: #cc241d;
}


#idle_inhibitor.activated {
  background-color: #689d6a;
  color: #fbf1c7;
}

#backlight {
  /* color: #EBCB8B; */
  color: #8fbcbb;
}


#clock {
  /*color: #fabd2f;*/
  /*border-bottom: 1px solid #fabd2f;*/
  /*font-weight: bold;*/
}
