window {
  border-radius: 5px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 1.3em;
  opacity: 0.8;

  margin: 0px;
  border: 1px solid #fbf1c7;
  background-color: #282828;
}

#input {
  margin: 5px;
  /* border: none; */
  border: 1px solid #fbf1c7;
  color: #ebdbb2;
  background-color: #1d2021;
}

#input image {
  color: #c0caf5;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #282828;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #282828;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #ebdbb2;
}

#entry:selected {
  font-weight: bold;

  background-color: #fbf1c7;
  color: #1d2021;
}

#entry:selected #text {
  color: #1d2021;

}
