@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    /*color: white;*/
    /*background-color: orange;*/
    color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    /*color: white;*/
    /*background-color: red;*/
    color: red;
  }
}

* {
  font-size: 15px;
}


/* The whole bar */

window#waybar {

  font-family: "JetBrainsMono Nerd Font";
  background: rgba(43, 48, 59, 0.8);
  border-bottom: 1px solid black;
  color: #ebdbb2;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.8);
  border: 1px solid rgba(100, 114, 125, 0.5);
  font-family: "JetBrainsMono Nerd Font";
}

tooltip label {
  color: white;
}

.modules-center {
}

.modules-right {
}

.modules-left {
}

/* Each module */

#idle_inhibitor,
#cava,
#scratchpad,
#memory,
#mode,
#window,
#clock,
#battery,
#backlight,
#wireplumber,
#custom-weather,
#custom-pacman,
#tray,
#mpris,
#load {
  color: #ebdbb2;
  padding: 0 5px;
}



#mode {
  background-color: #689d6a;
  color: #282828;
  /* box-shadow: inset 0 -3px #ffffff; */
}


#cava {
  /* padding: 0 5px; */
}

#workspaces button {
  color: #ebdbb2;
  border-radius: 0;
  font-weight: bold;
  padding: 5px 5px;
}

#workspaces button:hover {
  color: #d79921;
 box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
  /* background-color: #665c54; */
  background-color: #d79921;
  /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
  background-color: #b16286;
}

#battery.charging,
#battery.plugged {
  background-color: #98971a;
  color: #282828;
}


@keyframes blink {
  to {
    background-color: #282828;
    color: #ebdbb2;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #cc241d;
  color: #ebdbb2;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}

#mpris.playing {
  color: #d79921;
}

label:focus {
  background-color: #000000;
}

#wireplumber.muted {
  background-color: #458588;
}


#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#scratchpad.empty {
  background: transparent;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}


#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* color: #ebcb8b; */
}

#memory.warning {
  color: orange;
}

#memory.critical {
  color: red;
  animation-name: blink-critical;
  animation-duration: 2s;
}


#tray menu {
  background-color: #282828;
  border-radius: 2px 2px;
  color: #d5c4a1;
}


#workspaces button.focused label {
  /* color: #1d2021; */
  text-shadow: 2px 2px 1px #1d2021;
  /* color: #fbf1c7; */
  /* background-color: #689d6a; */
}

#workspaces button.urgent {
  background-color: #cc241d;
}


#idle_inhibitor.activated {
  background-color: #689d6a;
  color: #fbf1c7;
}

#backlight {
  /* color: #EBCB8B; */
  color: #8fbcbb;
}


#clock {
  /*color: #fabd2f;*/
  /*border-bottom: 1px solid #fabd2f;*/
  /*font-weight: bold;*/
}
