# input configuration
input "1739:52552:SYNA1D31:00_06CB:CD48_Touchpad" {
   dwt enabled
   tap enabled
   drag enabled
   natural_scroll enabled
   middle_emulation enabled
   scroll_method two_finger
}


# mouse gestures
bindgesture swipe:3:right  workspace prev
bindgesture swipe:3:left workspace next

# enable clamshell mode: when I use external monitors
set $laptop eDP-1
bindswitch --reload --locked lid:on output $laptop disable
bindswitch --reload --locked lid:off output $laptop enable

# exec_always for laptop clamshell mode
exec_always ./scripts/clam_shell_mode.sh
