# input configuration
input "1160:4141:VEN_0488:00_0488:102D_Touchpad" {
   dwt enabled
   tap enabled
   drag enabled
   natural_scroll enabled
   middle_emulation enabled
   scroll_method two_finger
}


# mouse gestures
bindgesture swipe:3:right  workspace prev
bindgesture swipe:3:left workspace next

output * background ~/Pictures/wallpapers/wallhaven-zyv2kg.png fill

# enable clamshell mode: when I use external monitors
set $laptop eDP-1
bindswitch --reload --locked lid:on output $laptop disable
bindswitch --reload --locked lid:off output $laptop enable


#
output eDP-1 scale 1
#output eDP-1 resolution 3000x2000 position 0,0

# exec_always for laptop clamshell mode
exec_always ./scripts/clam_shell_mode.sh


exec slack -u --enable-features=WaylandWindowDecorations --ozone-platform=wayland --ozone-platform-hint=auto --enable-webrtc-pipewire-capture
